body{
  background-image: url("photographer.jpg"); 
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: green;
  text-align:center;
}

.header_links {
  display: flex;
  justify-content: space-around;

}